*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid{
    height: 100%;
    width: 100%;

}

/*  nav start */

    /* .main2{
        width: 100%;
        height: 100px;
        background-color: rgb(119, 96, 96) ; 
        
         position: relative;
        top: -900px; 
         position: fixed;
 opacity: 0.4 ; 
    } */

    .main2{
   
    display: flex;
    justify-content: center;
    }

.navbar{
    position: absolute !important;    /* absolute se collape chala jarha h navbar ka*/
    top:0px;
    background-color: green !important;
    padding:19px;
}

/* assing */

/* .cara-main{ 
    width: 90vw;
    height: 90vh;
    background-image: url('./images/bg-side-1.jpg');
} */

.caro-img{
    /* position: relative;
    top: -250px; */
}

.in-ul {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    /* padding: 10px; */
    /* margin-top: -155px; */
    /* position: relative;
    top: -850px; */
   
}

.logo-img{
    width: 100px;
    height: 100px;
}
.logo-img1{
    width: 80px;
    height: 80px;
}
.burger{
    background-color: rgb(138, 84, 47);
}

.cara-img{
    height: 600px;
    width: 100%;
    /* padding: 25px; */
}

.cara-text{
 bottom: 180px;
}

.cara-text h5{
    font-size: 80px;
}

/* nav end */

/* main3 start */

.main3{
    background-color: rgb(255, 0, 221);
    /* background-color: #18191B; */
    color: white;
    padding: 35px;
}
.main-3{
    background-color: rgb(68, 57, 67);
    background-color: transparent;
    padding: 35px;
    position: relative;
    top: -410px;
    color: aliceblue;
    background-size: cover;
    /* height: 300px; */
    /* bottom: 355px; */
}
.main3-img12{
    background-attachment:  local;
}
.navbar-collapse{
    z-index: 50 !important ;
}
 .main3-img1{
   background-color: rgb(110, 226, 43); 
 
   text-align: center;
   background-image: url("images/1.jpg");
   background-attachment: local;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  
   
}

.main3-img2{
    /* background-color: blueviolet; */
    background-image: url("images/2.jpg");
     background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

}


.main3-img3{
    /* background-color: blueviolet;  */
    background-image: url("images/3.jpg");
    background-position: center;
   background-repeat: no-repeat;
   background-size: cover;  
} 


.main-3-para{
    /* background-attachment: scroll local; */
}

/* main4 start */

.main-4{
    margin-top: 35px;
    background-color: #242527;
    color: white;
    padding: 25px;
}
.main-4 span{
    color: #E3C086;
}


/* main5 */

.main-5{
    background-color: #18191B;
    color: white;
}

.main-5 span{
    color: #E3C086;
}
.card-in{
   background-color: #18191B;
   color: white;
   border: 1px solid white;
}

.goog-img img{
    width: 90px;
}
.star-img{
   display: flex;
   flex-direction: row-reverse;
 margin-top: -35px;
 
}
.star-img img{
    width: 90px; 
    
}

.trus-img img{
    padding: 10px;
    width: 220px; 
    /* background-color: black; */
    
}

/* main-6 */

.inpart{
    background-color: rgb(49, 105, 105);
    /* position: relative;
    top: -850px; */
   
}
 .inp-img{
  
 }
 .inp-img img{
   
 }

.inpart1{
    /* position: relative; */
    top: -970px;
    height: 149vh;
    /* margin:  15px;  */
    /* padding: 25px; */
    /* border: 85px solid black; */
    background-color:aqua;
}







@media (max-width:991px) {
    .logo-img{
        display: none;
    }
    .collapse-in{
        background-color: rgb(68, 68, 85);
    }
    

}
@media (min-width:992px) {
    .logo-img1{
        display: none;
    }

}

@media (max-width:992px){
    .main2{
        position: absolute;
        top: 0;
    }
    .cara-text{
        
    }
}